@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    min-height: 100vh;
}

/* ---------- HOME PAGE ---------- */
.center {
    text-align: center;
    padding-top: 120px;
}

.center h1 {
    font-size: 40px;
    color: #2c3e50;
    margin-bottom: 40px;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn {
    text-decoration: none;
    background: linear-gradient(135deg, #ff7a18, #ffb347);
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.08);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

/* ---------- MENU PAGE ---------- */
.title {
    text-align: center;
    font-size: 36px;
    margin: 40px 0;
    color: #2d3436;
}

.menu-box {
    background: white;
    width: 65%;
    margin: 25px auto;
    padding: 25px 35px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.menu-box:hover {
    transform: translateY(-5px);
}

.menu-box h2 {
    color: #e17055;
    margin-bottom: 10px;
}

.menu-box p {
    font-size: 18px;
    color: #2f3640;
    margin: 5px 0;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
    .menu-box {
        width: 90%;
    }

    .btn-box {
        flex-direction: column;
    }
}

/* Today's Special */
.special-box {
    background: linear-gradient(135deg, #ffeaa7, #fab1a0);
    width: 65%;
    margin: 0 auto 30px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Back Button */
.back-btn {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    background: #2d3436;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.back-btn:hover {
    background: #000;
}